

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.bg-cover {
    background-attachment: static;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}

#shift_counts_table tr {	
	text-align: right;
}

#shift_counts_table th {
	text-align: right;
}

#shift_needs_table tr {	
	text-align: right;
}

#shift_needs_table th {
	text-align: right;
}

div.stats_table {
	padding-left: 5px;
}

div#shift_coverage_all {
	font-weight: bold;
	font-size: medium;
	text-align: center;
}















